 body {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        margin: 0;
        min-height: 180px;
        padding: 0;
        width: 384px;
        background:black;
      }

      h1 {
        font-family: 'Noto Serif', serif;
        font-size: 22px;
        font-weight: 400;
        margin: 0;
        color: white;
      }
      p{
        color:white;
        font-family: 'Work Sans', sans-serif;
      }
      span{
        color:white;
        left:20px;
      }

      img {
        width: 30px;
      }

      .modal-header {
        align-items: center;
      }

      .modal-content {
        padding: 0 22px;
      }

      .modal-icons {
        height: 50px;
        width: 100%;
      }

      .logo {
        padding: 16px;
      }

      .logo-icon {
        vertical-align: text-bottom;
        margin-right: 12px;
      }

      .flex-container {
        display: flex;
        justify-content: space-between;
        padding: 10px 22px;
      }

      .flex {
        opacity: 1;
        transition: opacity 0.2s ease-in-out;
        width: 120px;
      }

      .flex:hover {
        opacity: 0.4;
      }

      .flex .fa {
        font-size: 40px;
        color:white;
      }
